<link href="css/setPassword.css" rel="stylesheet">
<div id="setPassword" ng-controller="resetPasswordController">
    <div id="table_div">
        <table>
            <tr></tr>
            <tr ng-show="roleid<1">
                <td><label>用户名:</label></td>
                <td><input class="edit_password" type="text" ng-model="passwordInfo.userName"/><span
                        class="importantFlag">*</span></td>
            </tr>
            <tr>
                <td><label>旧密码:</label></td>
                <td><input class="edit_password" type="password" ng-model="passwordInfo.oldPassword"
                           placeholder="请输入旧密码"/><span
                        class="importantFlag">*</span></td>
            </tr>
            <tr>
                <td><label>新密码:</label></td>
                <td><input class="edit_password" type="password" ng-model="passwordInfo.newPassword"
                           placeholder="请输入新密码"/><span
                        class="importantFlag">*</span></td>
            </tr>
            <tr>
                <td><label>确认密码:</label></td>
                <td><input class="edit_password" type="password" ng-model="passwordInfo.newPasswordAgain"
                           placeholder="请再次确认密码"/><span class="importantFlag">*</span>
                </td>
            </tr>
        </table>
        <div style="margin-left: 300px;margin-top: 10px">
            <button class="button_save" ng-click="editPassword()">确定</button>
            <button ng-show="roleid==0" class="button_save" ng-click="restPassword()">重置密码</button>
        </div>
    </div>

    <!--修改密码提示框-->
    <div id="edit_password_confirm_div" class="phone white_content" hidden>
        <table style="height: 100%; width: 100%;">
            <tr>
                <td colspan="2" style="text-align:center;font-size: 16px;">
                    确定修改密码?
                </td>
            <tr>
                <td>
                    <button id="edit_confirm" ng-click="editConfirm()">确定</button>
                </td>
                <td>
                    <button id="edit_cancel" ng-click="editCancel()">取消
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div id="edit_password_exit_div" class="black_overlay"></div>
</div>

