<link rel="stylesheet" type="text/css" href="css/resmanage.css">
<div ng-controller="resmanageController">
    <div id="tree-area">
        <div class="row-fluid dropdown" style="background-color: #B1B1B1;height:25px;">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btnwhite" data-target="#" href="javascript:;">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="javascript:;" ng-click="addStudent()" data-index="6" data-title="添加学生">添加学生</a>
                </li>
            </ul>
        </div>
        <div id="jstree_area">
            <div id="tree"></div>
        </div>
    </div>
    <div class="column info" id="work-area">
        <div class="work-area-content">
            <div class="container-fluid">
                <div id="student">
                    <div><span>姓名：</span><input type="text" ng-model="student.userName"></div>
                    <div><span>别名：</span><input type="text" ng-model="student.smallName"></div>
                    <div><span>性别：</span>
                        <select ng-model="student.sex">
                            <option ng-repeat="x in Sexs" value="{{x.id}}">{{x.name}}</option>
                        </select>
                    </div>
                    <div><span>电话：</span><input type="text" ng-model="student.phone"></div>
                    <div><span>学校：</span><input type="text" ng-model="student.school"></div>
                    <div><span>大等级：</span><select ng-model="student.levelBig">
                        <option ng-repeat="x in BigLevels" value="{{x.id}}">{{x.name}}</option>
                    </select></div>
                    <div><span>小等级：</span><select ng-model="student.levelSmall">
                        <option ng-repeat="x in SmallLevels" value="{{x.id}}">{{x.name}}</option>
                    </select></div>
                    <div><span>总课时：</span><input type="text" ng-model="student.allHours"></div>
                    <div><span>已使用：</span><input type="text" ng-model="student.used"></div>
                    <div><span>备注：</span><textarea ng-model="student.remarks"></textarea></div>
                    <div>
                        <button ng-click="saveStudent()" id="button_save">保存</button>
                    </div>
                    <div>
                        <button ng-click="clearStudent()" class="button_cancel">取消</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
